.todo {
    width: 100%;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 3px;
    font-size: 13pt;
}

.todo-success {
    background-color: #b6b6b6;
}

.todo-form {
    border: 1px solid #c3c3c3;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}